apache-maven-3.6.0
BuildData 
BuildTools.*
Bukkit 
CraftBukkit 
eula.txt
makeMainWorld.sh
mcrcon
minecraft.service
pluginpack.py
plugins 
__pycache__
server.properties  
Spigot 
spigot-1.18.1.jar
start.sh
work
backups
bundler
logs
world
world_nether
world_the_end
banned-ips.json
banned-players.json
commands.yml
help.yml
ops.json
usercache.json
whitelist.json
spigot.yml
permissions.yml
bukkit.yml 
update-server.sh