[Unit]
Description=Minecraft Server
After=network.target
[Service]
User=user
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/home/tibthink/minecraft-server
ExecStart=bash start.sh
ExecStop=/home/tibthink/minecraft-server/tools/mcrcon/mcrcon -H 127.0.0.1 -P 25575 -p password stop
ExecReload=/home/tibthink/minecraft-server/tools/mcron/mcron -H 127.0.0.1 -P 25575 -p password restart
[Install]
WantedBy=multi-user.target
            